@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

html{
	font-size: 100%;
}

h1,h2,h3{
	color: black;
	font-family: 'Verdana', serif;
    margin-bottom: 20px;
}

.contenedorContacto{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"nav" 
    "header"
    "horario"
    "direccion"
	"main"
	"footer";
}

nav{
	background-color:rgba(227, 153, 26, 0.8);
	position: sticky;
    width: 100%;
	top: 0;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: nav;
	}
	
	nav a img{
		width: 200px;
		margin-bottom: 30px;
	}

	nav ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

		nav ul li{
			list-style: none;
			display: inline-block;
            margin: 20px;
			font-weight: bold;
		}

		nav ul li a{
			font-size: 20px;
			text-decoration: none;
			color: #111111;
		}

header{
    grid-area: header;
}

main{
	grid-area: main;
    height: 90%;
}

#direccion{
	grid-area: direccion;
    height: 90%;
}

#horario{
	grid-area: horario;
}

.pie{
	text-align: center;
    margin: 20px;
    padding: 20px;
	font-size: 1.5rem;
	grid-area: footer;
}

p{
	color: rgb(80, 80, 80);
	line-height: 2.5rem;
	font-size: 2rem;
	text-align: justify;
}
#horario p{
	color: rgb(80, 80, 80);
	line-height: 1.5rem;
	font-size: 1.3rem;
	text-align: left;
}

#horarios div div{
    margin-top: 10px;
}

form div{
	margin-top:30px;
}

fieldset{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
	}

	legend{
		font-size: 20px;
	}

	input,label{
		font-size: 15px;
		margin-top: 2px;
		margin-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}

.comentario{
	font-size: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.textCenter{
	text-align: center;
	margin-bottom: 20px;
}

.tituloGrande{
	font-size: 30px;
}

.tituloMediano{
	font-size: 25px;
}

.normalizacion{
    background-color:rgba(243, 240, 240, .8);
    margin: 80px;
    padding: 80px;
}

.centerElement{
	width: 80%;
	height: auto;
	padding: 10px 50px;
	margin: 10px auto;
	overflow-y: auto;
}

.imgHeader{
	width: 100%;
	height: 400px;
}

.mapaDireccion{
	margin: 20px auto;
}

.imgSmall{
	width: 40px;
}

.imgMedium{
	width: 80px;
}

.imgLarge{
	width: 120px;
}

.imgXLarge{
	width: 160px;
}

.imgXXLarge{
	width: 300px;
}

iframe{
    width: 100%;
}

/* Media queries */
/* TABLET */
@media (min-width: 768px){
	.contenedorContacto{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
        "nav" 
        "header"
        "main"
        "horario"
        "direccion"
        "footer";
	}
}

/* DESKTOP */
@media (min-width: 1024px){
	.contenedorContacto{
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		"nav nav" 
		"header header"
        "horario horario"
		"main direccion" 
		"footer footer";
	}

	header{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		padding-bottom: 30px;
		max-width: 100%;
		height: auto;
		border-radius: 8px;  
	}

	nav{
		font-size: 0;
		top: 0;
		left: 0;
		padding: 20px;
		margin-bottom: 200px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		}
	
		nav a img{
			margin-left: 200px;
		}
	
		nav ul{
			display: inline-block;
			width: 50%;
		}
	
			nav ul li{
				list-style: none;
				display: inline-block;
				margin: 20px;
			}
	
			nav ul li a{
				font-size: 30px;
				text-decoration: none;
				color: #111111;
			}	

}