@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');

$mainFont: 'Roboto', sans-serif;
$subFont: 'Lato', sans-serif;

$textSizeS: 1.5em;
$textSizeM: 3em;
$textSizeL: 4em;