@mixin formatInfo($fontType){
    background-color: map-get($map: $colors, $key: 'grey');
    font-family: $fontType;
    h1, h2{
        text-align: center;
    }
    h1{
        font-size: map-get($map: $textSize, $key: 'textSizeXs');
    }
}

header {
    @include formatInfo(map-get($map: $fonts, $key: 'mainFont'));
}

main {
    @include formatInfo(map-get($map: $fonts, $key: 'subFont'));
    p {
        color: map-get($map: $colors, $key: 'darkGrey');
        font-size: map-get($map: $textSize, $key: 'textSizeXs');
    }
    margin-right: 15%;
    margin-left: 15%;

    .nextEvent{
        display: block;
        margin-left: auto;
        margin-right: auto;      
    }

    .btn-tcg{
        background-color: map-get($map: $colors, $key: 'orangeSecondary');
    }

    .titulo {
        font-family: map-get($map: $fonts, $key: 'thirdFont');
        text-align: center;
    }
    
    .price {
        @extend .titulo;
    }
}

footer .text-center .imgSize{
    width: 35px;
}
