
header, main {
    background-color: $infoDivColors;
    font-family: $subFont;
    h1, h2{
        text-align: center;
    }
    
    p, h3{
        text-align: justify;
    }
}

main {
    margin-right: 15%;
    margin-left: 15%;
}

footer {
    padding: 0;
	margin: 0;
    img{
        width: 35px;
    }
}